# Analyse results for query dissemination experiment

In [19]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 500)

# 1. Parse Logfiles

In [20]:
paths = {
    "10": "../../logs/query-dissemination/29-03-2021/selectivity_10",
    "25": "../../logs/query-dissemination/29-03-2021/selectivity_25",
    "80": "../../logs/query-dissemination/29-03-2021/selectivity_80"
}

num_nodes = 73 # number of nodes per run

num_runs = {
    10:3,
    25:3,
    80:3
}

In [21]:
# The function stores the lat and lon values for each selectivity.
def determine_values(selectivity, idx):
    selectivity_to_values = {
        10:(90.0,0.0),
        25:(50.0, 50.0),
        80:(20.0,0.0)        
    }
    val = selectivity_to_values[selectivity]
    return val[idx]

In [22]:
sels = []
categories = []
node_ids = []
lats = []
lons = []
runs = []
connect_outliers = []

received = []
runs_rec = []
sels_received = []
query_times = []

startup_times = {}

for selectivity in paths:
    for root, dirs, files in os.walk(paths[selectivity]):
        #print("Root: " + root)
        run = root.split("/")[-1].split("_")[-1]            
        for file in files :
            #print("File: " + file)
            n_id = file[:6]  
            if n_id[:4] != 'base' :       
                # get node_id
                if n_id[-1:] == '_' :
                    node_id = int(n_id[4:5])                
                else :
                    node_id = int(n_id[4:6])
            #print(node_id)
            with open(os.path.join(root, file)) as log:             
                connect_attempts = 0
                query_time = 100000

                for line in log :            
                    log_time = int(line.split(" ")[0])
                    elem = line.split( )                

                    if "initial attribute range" in line: 
                        tmp = str(elem[-1:])
                        t = tmp[3:-3]                    
                        coords = t.split(',')
                        lat = float(coords[0])
                        lon = float(coords[1])
                        
                        node_ids.append( node_id)
                        lats.append(lat)
                        lons.append(lon)
                        runs.append(run)
                        sels.append(selectivity)
                    if "! RECEIVED QUERY" in line :
                        received.append(int(node_id))
                        runs_rec.append(run)     
                        sels_received.append(selectivity)

                        query_time = elem[8]
                        query_times.append(query_time)
                    elif "STARTUP TIME" in line:
                        elem = line.split( )
                        startup_times[(selectivity, run)] = int(elem[-1])
                    # sanity checks
                    if "ACTOR DOWN" in line and log_time < query_time and time < 59000:
                        print("Actor down in: selectivity " + selectivity + ", run " + str(run) + ", node" + str(node_id) + ", query time: " 
                                + str(query_time) + ", log_time: " + str(log_time))     
                    if "RECONNECTING TO INITIAL PARENT" in line:
                        print("Initial connection issues in: selectivity " + selectivity + ", run " + str(run) + ", node" + str(node_id))     
                    if "could not reach" in line:                        
                        print("Found Error in: selectivity " + selectivity + ", run " + run + ", node" + node_id) 
                
                if (connect_attempts > 5):
                    m_connect_outliers.append("run " + run + " node " + node_id)
            
#print(received)
#print('node_ids ' + str(len(node_ids)))
#print('categories ' + str(len(categories)))
#print('lat ' + str(len(lats)))
#print('lon ' + str(len(lons)))
#print(len(sels))

initial_ranges_tmp = pd.DataFrame(np.column_stack([sels,runs,node_ids, lats, lons]), columns=['selectivity','run', 'node_id','lat', 'lon'])

initial_ranges = initial_ranges_tmp.astype({
    'selectivity':'int32',
    'run':'int32',
    'node_id':'int32',
    'lat':'float',
    'lon':'float'
})

print(initial_ranges.dtypes)
initial_ranges

selectivity      int32
run              int32
node_id          int32
lat            float64
lon            float64
dtype: object

     selectivity  run  node_id        lat        lon
0             10    2        3  54.629926  78.552097
1             10    2       48  86.991263  95.038275
2             10    2       40  36.215096  45.616298
3             10    2       21   1.907784  95.965673
4             10    2       59  12.370182  79.426896
..           ...  ...      ...        ...        ...
652           80    1       69  50.133969  18.371031
653           80    1       17  72.837441   6.926584
654           80    1       66  46.430967  66.578599
655           80    1       47  81.882704  70.319071
656           80    1       28  82.645496  59.484684

[657 rows x 5 columns]

## Outliers &  Sanity checks

In [23]:
print("Nodes with connection issues:")
connect_outliers

Nodes with connection issues:

[]

In [24]:
nan = initial_ranges[initial_ranges.isna().any(axis=1)]
nan

Empty DataFrame
Columns: [selectivity, run, node_id, lat, lon]
Index: []

In [25]:
nul = initial_ranges[initial_ranges.isnull().any(axis=1)]
nul

Empty DataFrame
Columns: [selectivity, run, node_id, lat, lon]
Index: []

# 2. Determine which nodes received the query
For all selectivities, create a df that contains all nodes that received the query in each run

In [26]:
received_tmp = pd.DataFrame(np.column_stack([sels_received, runs_rec, received, query_times]), 
                            columns=['selectivity','run', 'node_id', 'time_received'])
received = received_tmp.astype({
    'selectivity':'int64',
    'run':'int64',
    'node_id':'int64',
    'time_received':'int64'
})
received['time_received'] = received.apply(lambda row: row['time_received'] - startup_times[(str(row['selectivity']),str(row['run']))], axis=1)

received.head()

     selectivity  run  node_id  time_received
0             10    2       10    25086715489
1             10    2       30    25087269487
2             10    2       69    25087452570
3             10    2       54    25087785176
4             10    2        0    25085662189
5             10    2       61    25087329879
6             10    2        9    25087362870
7             10    2        8    25087490836
8             10    2        6    25087796774
9             10    2        1    25086718005
10            10    2       64    25086794593
11            10    2       12    25087802013
12            10    1       68    25195817540
13            10    1       46    25195399227
14            10    1       28    25195374360
15            10    1       55    25195364693
16            10    1       13    25195859025
17            10    1       37    25195439086
18            10    1       62    25195814391
19            10    1       71    25195962998
20            10    1       56    25195783758
21            10    1        0    25194920452
22            10    1       16    25195804848
23            10    1       45    25195790012
24            10    1       48    25195972104
25            10    0       27    25501858644
26            10    0       58    25501459640
27            10    0       28    25501026773
28            10    0       38    25501926226
29            10    0       21    25501738325
30            10    0       17    25501695439
31            10    0       56    25502099490
32            10    0       19    25501137394
33            10    0       59    25501985959
34            10    0        0    25500569029
35            10    0       55    25501441357
36            10    0       29    25502037144
37            10    0       46    25501406732
38            25    2       46    25481384240
39            25    2       50    25482196481
40            25    2       51    25482196890
41            25    2       14    25481918140
42            25    2       15    25482273616
43            25    2       36    25482021436
44            25    2       45    25482167128
45            25    2        0    25480751767
46            25    2       53    25482076433
47            25    2       38    25482059471
48            25    2       65    25482123343
49            25    2       60    25482205839
50            25    2       37    25481415831
51            25    2        2    25482134894
52            25    2       64    25481445737
53            25    2       32    25482082585
54            25    2       68    25482100445
55            25    2       63    25482185997
56            25    0       57    25291364124
57            25    0        4    25290935608
58            25    0       66    25291082257
59            25    0       36    25291329579
60            25    0        2    25291076993
61            25    0       28    25290396565
62            25    0       21    25291001475
63            25    0       49    25291221114
64            25    0       63    25290904351
65            25    0       62    25290786427
66            25    0       64    25290374744
67            25    0       23    25290834660
68            25    0       70    25291077576
69            25    0       42    25291349251
70            25    0        6    25290799320
71            25    0       67    25291294624
72            25    0       51    25291036604
73            25    0       27    25291405427
74            25    0        0    25289876520
75            25    0        8    25291311955
76            25    0       58    25291414664
77            25    0       19    25290330390
78            25    0       48    25291064257
79            25    0        3    25290973980
80            25    0       18    25291152506
81            25    0       54    25291167010
82            25    0        1    25290286180
83            25    0       34    25290968912
84            25    1       24    25175744527
85            25    1        8    25175704428
86            25    1       15    25175414871
87            25    1       46    25174634668
88            25    1       59    25175993787
89            25    1       60    25175505829
90            25    1       10    25174650253
91            25    1       69    25175589020
92            25    1       44    25175248362
93            25    1       65    25175486523
94            25    1       72    25175565882
95            25    1       12    25175369299
96            25    1       55    25174663629
97            25    1       23    25175789071
98            25    1        4    25175836960
99            25    1       64    25174705022
100           25    1       41    25176078171
101           25    1       56    25175975516
102           25    1        0    25174180869
103           25    1       17    25175412793
104           25    1       18    25176000540
105           25    1       47    25175824217
106           25    1       67    25175273901
107           80    0       52    25167124800
108           80    0       11    25166570588
109           80    0        2    25167785440
110           80    0       22    25166571125
111           80    0       41    25166594644
112           80    0       45    25167720190
113           80    0        8    25166036171
114           80    0       56    25167768881
115           80    0       46    25165291537
116           80    0       64    25165418579
117           80    0       32    25166396138
118           80    0       65    25167141758
119           80    0        6    25166035214
120           80    0       29    25167763806
121           80    0       57    25166072012
122           80    0       69    25167135641
123           80    0       13    25166507460
124           80    0       39    25166908515
125           80    0       61    25166372481
126           80    0       31    25165832753
127           80    0       54    25165811031
128           80    0       40    25166736705
129           80    0        1    25165189935
130           80    0       27    25166601104
131           80    0       67    25166902447
132           80    0       25    25166389791
133           80    0       44    25167679131
134           80    0        7    25167690555
135           80    0       66    25166895492
136           80    0       24    25167880687
137           80    0       35    25167968234
138           80    0        4    25166663844
139           80    0       12    25167151486
140           80    0       28    25165290367
141           80    0       18    25166987822
142           80    0       19    25165189928
143           80    0       42    25166547947
144           80    0        0    25164614140
145           80    0       20    25166937699
146           80    0       55    25165340837
147           80    0        3    25166204811
148           80    0       49    25167124091
149           80    0       21    25166881107
150           80    0       63    25167238793
151           80    0       26    25166724742
152           80    0       16    25166724105
153           80    0       36    25167918743
154           80    0       38    25166663970
155           80    0       71    25166865017
156           80    0       68    25166113572
157           80    0       33    25166313604
158           80    0       72    25167572261
159           80    0       53    25166709552
160           80    2       60    25067239955
161           80    2       72    25066882338
162           80    2        6    25068375667
163           80    2       12    25067185737
164           80    2       39    25066849065
165           80    2       13    25067016482
166           80    2       57    25068375921
167           80    2       48    25066760189
168           80    2        7    25067170757
169           80    2        1    25065887716
170           80    2       28    25065898926
171           80    2       42    25066611108
172           80    2       11    25066511932
173           80    2       68    25067665143
174           80    2       66    25066792049
175           80    2       32    25067770176
176           80    2        5    25068327623
177           80    2        8    25067576643
178           80    2       25    25069261107
179           80    2       43    25066861710
180           80    2       71    25066780444
181           80    2       47    25067196387
182           80    2       10    25065893178
183           80    2       19    25065888706
184           80    2       33    25066750718
185           80    2       24    25067543405
186           80    2       64    25066013074
187           80    2       38    25067305575
188           80    2        2    25066868398
189           80    2       40    25067649654
190           80    2       62    25066785872
191           80    2       56    25066988028
192           80    2       27    25068939449
193           80    2       44    25068560418
194           80    2       55    25067509682
195           80    2       59    25068413821
196           80    2       36    25067064582
197           80    2       14    25068974904
198           80    2        0    25065406371
199           80    2       26    25066561560
200           80    2       29    25067322706
201           80    2       49    25067168439
202           80    2       21    25066651714
203           80    2       30    25067898153
204           80    2       53    25066428270
205           80    2       58    25068374231
206           80    2       50    25066514062
207           80    2        3    25067420432
208           80    2       45    25067543443
209           80    2        9    25068328362
210           80    2       37    25066028594
211           80    2       34    25067334838
212           80    2       46    25065971358
213           80    2       54    25066990308
214           80    2       18    25068566684
215           80    2       35    25067380650
216           80    2       31    25067537587
217           80    2       61    25066782493
218           80    2       22    25066838951
219           80    2       69    25067084627
220           80    1       64    25334523420
221           80    1       52    25334626828
222           80    1        5    25337129029
223           80    1        2    25337095585
224           80    1       72    25338488350
225           80    1       45    25334521946
226           80    1        1    25333689445
227           80    1       23    25334010857
228           80    1       70    25334930561
229           80    1        3    25335714431
230           80    1       65    25337302620
231           80    1       63    25335283059
232           80    1       14    25334490355
233           80    1       50    25338201530
234           80    1       60    25337992946
235           80    1       43    25337219019
236           80    1       11    25334127615
237           80    1        0    25332777845
238           80    1       58    25337570355
239           80    1       19    25333571008
240           80    1       57    25337987358
241           80    1        8    25334669113
242           80    1       34    25335138159
243           80    1       62    25337000043
244           80    1       20    25337022758
245           80    1        7    25338629228
246           80    1       33    25334339351
247           80    1        4    25337311945
248           80    1       44    25334219437
249           80    1       51    25337924856
250           80    1       24    25334975731
251           80    1       61    25334134521
252           80    1       29    25335704201
253           80    1       39    25334727515
254           80    1       18    25337068562
255           80    1       32    25336354072
256           80    1       22    25338658311
257           80    1       55    25333633476
258           80    1       31    25335487750
259           80    1        6    25335178085
260           80    1       38    25335020857
261           80    1       15    25334552343
262           80    1       40    25337035056
263           80    1       41    25336387639
264           80    1        9    25334682654
265           80    1       59    25334588798
266           80    1       42    25338192795
267           80    1       46    25333749909
268           80    1       30    25334437198
269           80    1       16    25335201169
270           80    1       12    25334661462
271           80    1       10    25335087239
272           80    1       21    25334276110
273           80    1       35    25336094123
274           80    1       69    25334300513
275           80    1       17    25334524877
276           80    1       66    25337132039
277           80    1       47    25337795786
278           80    1       28    25333971673

In [27]:
received['time_received'].max()

25502099490

# 3. Delete all nodes from the df that did not match the query

In [28]:
nodes_applying = initial_ranges[
    (initial_ranges['lat'] >= initial_ranges.apply(lambda x: determine_values(x['selectivity'],0), axis=1) ) &
    (initial_ranges['lon'] >= initial_ranges.apply(lambda x: determine_values(x['selectivity'],1), axis=1) ) 
]
nodes_applying.groupby(['selectivity']).size().reset_index(name='applies_to')

   selectivity  applies_to
0           10          27
1           25          65
2           80         166

### Sanity check

Find the nodes where the query applied according to (lat,lon), but did not receive it

In [29]:
a_waldo = nodes_applying.merge(received, how='left', on=['selectivity', 'run', 'node_id'])
len(a_waldo)

258

In [30]:
w = a_waldo[a_waldo.isnull().any(axis=1)]
w.head()

Empty DataFrame
Columns: [selectivity, run, node_id, lat, lon, time_received]
Index: []

# 4. Count the nodes that the respective query applies to in each run for every selectivity

In [31]:
grouped = nodes_applying.groupby(['selectivity','run']).size().reset_index(name='applies_to')
print(grouped.dtypes)
grouped

selectivity    int64
run            int64
applies_to     int64
dtype: object

   selectivity  run  applies_to
0           10    0           8
1           10    1          10
2           10    2           9
3           25    0          26
4           25    1          22
5           25    2          17
6           80    0          51
7           80    1          57
8           80    2          58

# 5. Count the nodes that received the query in each run for every selectivity

In [32]:
received_grouped = received.groupby(['selectivity','run']).size().reset_index(name='num_received')
print(received_grouped.dtypes)
received_grouped

selectivity     int64
run             int64
num_received    int64
dtype: object

   selectivity  run  num_received
0           10    0            13
1           10    1            13
2           10    2            12
3           25    0            28
4           25    1            23
5           25    2            18
6           80    0            53
7           80    1            59
8           80    2            60

# 6. Compute Overhead etc.

### Table columns
- applies_to            = number of nodes where the query applies 
- received              = number of nodes that received the query
- overhead              = received - applies
- baseline_ovehead      = num_nodes - applies
- num_nodes             = topology size
- overhead_ratio        = overhead/baseline_overhead = ratio
- overhead_ratio_pct             = overhead_ratio * 100

In [33]:
overview_tmp = grouped.merge(received_grouped, how='left', on=['selectivity', 'run'])#.astype({'num_received':'int64'})
print(overview_tmp.dtypes)
overview_tmp

selectivity     int64
run             int64
applies_to      int64
num_received    int64
dtype: object

   selectivity  run  applies_to  num_received
0           10    0           8            13
1           10    1          10            13
2           10    2           9            12
3           25    0          26            28
4           25    1          22            23
5           25    2          17            18
6           80    0          51            53
7           80    1          57            59
8           80    2          58            60

In [34]:
overview = overview_tmp

overview['rime_overhead_abs'] = overview.apply(lambda row: row.num_received - row.applies_to, axis=1 )
overview['num_nodes'] = num_nodes
overview['baseline_overhead'] = overview.apply(lambda row: num_nodes - row.applies_to, axis=1)
overview['overhead_ratio'] = overview.apply(lambda row: row.rime_overhead_abs/row.baseline_overhead, axis=1)
overview['overhead_ratio_pct'] = overview.apply(lambda row: row.overhead_ratio*100, axis=1)

print(overview.dtypes)
overview

selectivity             int64
run                     int64
applies_to              int64
num_received            int64
rime_overhead_abs       int64
num_nodes               int64
baseline_overhead       int64
overhead_ratio        float64
overhead_ratio_pct    float64
dtype: object

,selectivity,run,applies_to,num_received,rime_overhead_abs,num_nodes,baseline_overhead,overhead_ratio,overhead_ratio_pct
0,10,0,8,13,5,73,65,0.076923,7.692308
1,10,1,10,13,3,73,63,0.047619,4.761905
2,10,2,9,12,3,73,64,0.046875,4.687500
3,25,0,26,28,2,73,47,0.042553,4.255319
4,25,1,22,23,1,73,51,0.019608,1.960784
5,25,2,17,18,1,73,56,0.017857,1.785714
6,80,0,51,53,2,73,22,0.090909,9.090909
7,80,1,57,59,2,73,16,0.125000,12.500000
8,80,2,58,60,2,73,15,0.133333,13.333333

In [35]:
summary = pd.DataFrame()

summary['mean_overhead_ratio']      = overview.groupby('selectivity')['overhead_ratio_pct'].mean()
summary['median_overhead_ratio']    = overview.groupby('selectivity')['overhead_ratio_pct'].median()
summary['applies_pct']              = overview.groupby('selectivity')['applies_to'].mean() / num_nodes
summary['received_pct']             = overview.groupby('selectivity')['num_received'].mean() / num_nodes

summary['base_overhead']            = 1 - summary['applies_pct']
summary['rime_overhead']            = summary['received_pct'] - summary['applies_pct']
summary['overhead_saved_by_rime']   = (summary['base_overhead'] - summary['rime_overhead']) * 100

In [36]:
summary

,mean_overhead_ratio,median_overhead_ratio,applies_pct,received_pct,base_overhead,rime_overhead,overhead_saved_by_rime
selectivity,,,,,,,
10,5.713904,4.761905,0.123288,0.173516,0.876712,0.050228,82.648402
25,2.667273,1.960784,0.296804,0.315068,0.703196,0.018265,68.493151
80,11.641414,12.500000,0.757991,0.785388,0.242009,0.027397,21.461187